.root {
    --primary: #fe5d33;
    --secondary: #f6f6f6;
    --accent: #111827;
    --background: #ffffff;
    --foreground: #111827;

    --blue: #dbedfb;
    --red: #fec6c7;
    --purple: #d9b8d5;
    --grey: #4b5563;

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-accent: var(--accent);
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    background: var(--background);
    color: var(--foreground);
}
